Repository swisspost/design-system, pull requests merged in 2025-03, with the labels that each got.

#4589 feat(component): add a margin top to floating ui in `post-popovercontainer` not to overlap the header on initial opening
  .changeset/thick-readers-poke.md
  packages/components/src/components/post-popovercontainer/post-popovercontainer.tsx
  packages/styles/src/components/header/index.scss
Labels: 📦 components

#4799 fix(component): updated the keydown event handling for `post-megadropdown` component to move focus to the first dropdown element when activated via Space
  .changeset/hungry-ducks-raise.md
  packages/components/src/components/post-megadropdown-trigger/post-megadropdown-trigger.tsx
Labels: Header

#4808 fix(component): fixed the clipped focus ring on post-mainnavigation items by applying a negative outline-offset
  .changeset/selfish-boats-appear.md
  packages/components/src/components/post-mainnavigation/post-mainnavigation.scss
Labels: Header

#4759 fix(styles): fix text alignment for `post-language-option` component to match the design
  .changeset/fluffy-frogs-invite.md
  packages/components/src/components/post-language-option/post-language-option.scss
  packages/components/src/components/post-language-switch/post-language-switch.scss
Labels: Header

#4785 chore(styles): apply header list styles to buttons
  .changeset/nervous-glasses-pay.md
  packages/styles/src/components/header/index.scss
Labels: Header

#4823 fix(componentes, styles): fix the scrollParent scroll-lock mechanism in the post-header component
  .changeset/olive-insects-mix.md
  packages/components/src/components/post-header/post-header.tsx
  packages/styles/src/components/header/index.scss
Labels: Header

#4829 fix(components): fix post-header mobile menu height if scrollParent is not document.body
  .changeset/nervous-clouds-impress.md
  .changeset/orange-kiwis-breathe.md
  packages/components/src/components.d.ts
  packages/components/src/components/post-header/post-header.scss
  packages/components/src/components/post-header/post-header.tsx
  packages/components/src/components/post-megadropdown/post-megadropdown.scss
  packages/components/src/components/post-megadropdown/post-megadropdown.tsx
  packages/components/src/components/post-megadropdown/readme.md
  packages/documentation/src/stories/modules/header/header.styles.scss
  packages/styles/src/components/header/index.scss
Labels: 🚂 PR train, Header

#4767 fix(components,styles): `post-header` margins and global buttons shrink on scroll
  .changeset/many-cherries-destroy.md
  packages/components/src/components/post-header/post-header.scss
  packages/styles/src/components/header/_mixins.scss
Labels: Header

#4957 fix(components): remove transform property from scroll-locked parent
  .changeset/moody-mice-design.md
  packages/components/src/components/post-header/post-header.scss
  packages/styles/src/components/header/index.scss
Labels: needs: 🏓 dev roundtable
